<h1>Listing link_previews</h1>

<table>
  <tr>
    <th>Url</th>
    <th>Image URL</th>
  </tr>

<% @link_previews.each do |link_preview| %>
  <tr>
    <td><%=h link_preview.url %></td>
    <td><%=h link_preview.image_file %></td>
    <td><%= link_to 'Show', link_preview %></td>
    <td><%= link_to 'Edit', edit_link_preview_path(link_preview) %></td>
    <td><%= link_to 'Destroy', link_preview, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New link_preview', new_link_preview_path %>